<%- include('../includes/head.ejs', {
    isLoggedIn: isLoggedIn,
    user: user,
}) %>

<h1>Listado de clientes</h1>
<div id="Clientes">
    <% if (clientes.length > 0) { %>
        <div class="row">
            <% for (let c of clientes) { %>
                <div class="col s12 m4 l3">
                    <div class="card" style="width: 21rem;">
                        <img class="card-img-top" src="/images/casaprincipal.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h4 class="card-title"><%= clientes.nombre %></h4>
                          <h5 class="card-title"><%= casas_V.Colonia %> CP <%= casas_V.Codigo_postal %></h5>
                          <h6 class="card-title"><%= casas_V.Municipio %>, <%= casas_V.Estado %> <%= casas_V.Pais %></h6>
                          
                          <p class="card-text"><%= casas_V.tipoInmueble %> con <%= casas_V.Habitaciones %> recamaras y 3 baños</p>
                          <a href="/operacion/<%= ubicacion%>/seguimiento/<%= casas_V.ID_Propiedad %>" class="btn btn-primary">Seguimiento</a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } else { %>
        <h3>No hay clientes registrados.</h3>
    <% } %>
</div>

<%- include('../includes/foot.ejs') %>