<%- include('../includes/head.ejs') %>
    <body>

 
        <div class="container">
        
            <%- include('../includes/sidebar.ejs', {
                ubicacion: ubicacion,
                permisos:permisos,
                rol:rol,
            }) %>


            

            <section class="home-section ">
                <div class="w-100">

                    <%- include('tabs.ejs') %>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">


                            <br>
                            <br>
                            <br>

                            <% if (seg_V.length > 0) { %>
                                 
                                <%- include('cronograma.ejs',{
                                    seg_V: seg_V,
                                    ubicacion:ubicacion,
                                    permisos:permisos,
                                    cliente:cliente,
                                    propiedad:propiedad,
    
                                }) %>



                            <% } else { %>
                                <h3>NO SE HA INICIADO PROCESO</h3>
                            <% } %>



                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        

                            <br>
                            <br>
                            <br>
                            <% if (numdocs.length>  0 || numdocs > 0) { %>
                                <div class=" row fixed-center container-fluid col-12 col-m-6 col-lg-12 bg-white border p-3 text-center"> 
                                       
                                      
                                  <h5 class="fixed-center"> EXPEDIENTE:  <%=numdocs[0].tipoExpCliente%>  </h5>
                                    <div class="row fixed-center">  
                                      <% for (let j of desc_documentos_arre) { %>  
                                        <% for (let r of numdocs) { %>
                                          
                                            <label class=" fixed-center input-group-btn">
                                                <span class="text-center   border p-1  container-fluid  col-6 col-m-6 col-lg-8 btn btn-light btn-file" id="doc">
                                                Agregue <%= r.Nombre%> dando click en el boton
                                                
                                                </span>
                                                <a href="/operacion/<%=ubicacion%>/seguimiento/<%=propiedad%>/expediente/<%= r.IDtipoExpCliente%>/<%= r.IDtipoDocCliente%>" class="btn btn-secondary btn-lg-4 " style="font-size: 10px;" role="button" aria-disabled="true">Subir archivo</a>
                                                
                                                   
                                                <a  href="/uploads/<%=j.URL%>"  class="btn btn-secondary btn-lg-4 " style="font-size: 10px;" role="button" aria-disabled="true">descargar doc</a>
                                                                  
                                                <!--  
                                                <a href="/operacion/<%=ubicacion%>/seguimiento/<%=propiedad%>/expediente/<%= r.IDtipoExpCliente%>/<%= r.IDtipoDocCliente%>" class="btn btn-secondary btn-lg " style="font-size: 10px;" role="button" aria-disabled="true">Subir archivo</a> -->
                                            </label>
                                          
                                        <% } %>    
                                    <% } %>
                                   
                                <% } else { %>
                                    <h3>No hay casas registradas</h3>
                                <% } %>
                       
            
                        
                                          
                                       
                                    
                                          
                                   
            
                                    </div>
                                </div>
            
                                <% if (numdocs2.length>  0 || numdocs2 > 0) { %>
                                    <div class=" row fixed-center container-fluid col-12 col-m-6 col-lg-12 bg-white border p-3 text-center"> 
                                           
                                          
                                      <h5 class="fixed-center"> EXPEDIENTE:  <%=numdocs2[0].tipoExpCliente%>  </h5>
                                        <div class="row fixed-center">    
                                            <% for (let r of numdocs2) { %>
                                              
                                                <label class=" fixed-center input-group-btn">
                                                    <span class="text-center   border p-1  container-fluid  col-6 col-m-6 col-lg-10 btn btn-light btn-file" id="doc">
                                                    Agregue <%= r.Nombre%> dando click en el boton
                                                    
                                                    </span>
                                                    <a href="/operacion/<%=ubicacion%>/seguimiento/<%=propiedad%>/expediente/<%= r.IDtipoExpCliente%>/<%= r.IDtipoDocCliente%>" class="btn btn-secondary btn-lg " style="font-size: 10px;" role="button" aria-disabled="true">Subir archivo</a>
                                                     

                                                </label>
                                   
                                              
                                            <% } %>
                                       
                                    <% } else { %>
                                    <!--  <h3>No hay casas registradas</h3> -->
                                    <% } %>
                           
                
                            
                                              
                                           
                                        
                                              
                                       
                
                                        </div>
                                    </div>
            
                                    <% if (numdocs3.length>  0 || numdocs3 > 0) { %>
                                        <div class=" row fixed-center container-fluid col-12 col-m-6 col-lg-12 bg-white border p-3 text-center"> 
                                               
                                              
                                          <h5 class="fixed-center"> EXPEDIENTE PROPIEDAD:  <%=numdocs3[0].tipoExpPropiedad%>  </h5>
                                            <div class="row fixed-center">    
                                                <% for (let r of numdocs3) { %>
                                                  
                                                    <label class=" fixed-center input-group-btn">
                                                        <span class="text-center   border p-1  container-fluid  col-6 col-m-6 col-lg-8 btn btn-light btn-file" id="doc">
                                                        Agregue <%= r.tipoDocPropiedad%> dando click en el boton
                                                        
                                                        </span>
                                                        <a href="/operacion/<%=ubicacion%>/seguimiento/<%=propiedad%>/expedienteprop/<%= r.IDtipoExpProp%>/<%= r.IDtipoDocProp%>" class="btn btn-secondary btn-lg " style="font-size: 10px;" role="button" aria-disabled="true">Subir archivo</a>
                                                    </label>
                                                    
                                                  
                                                <% } %>
                                           
                                        <% } else { %>
                                        <!--  <h3>No hay casas registradas</h3> -->
                                        <% } %>
                               
                    
                                
                                                  
                                               
                                            
                                                  
                                           
                    
                                            </div>
                                        </div>



                        </div>
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
                        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
                    </div>
                </div>
            </section>
        

        <script src="/js/bootstrap.bundle.min.js"> </script>
        <script src="/js/sidenav.js"></script>
    </body>
    
    
    </html>